div#galerie {
  width: 410px ;
  background: #fff ;
  padding: 15px ;
  margin: 15px 30px ;
  text-align: center ;
  font: 0.9em Roboto, sans-serif ;}

ul#galerie_mini {
  margin: 0 ;
  padding: 0 ;
  list-style-type: none ;}

ul#galerie_mini li {
  float: left ; }

ul#galerie_mini li a img {
  margin: 2px 1px ;
 }

ul#nav {
  margin: 0 ;
  padding: 0 ;
  list-style-type: none ;}

ul#nav li {
  float: left ; }

dl#photo {
  clear: both ;
  margin: 0 auto ;
  width: 90%;
 }

dl#photo dt {
	font: 2.5em/1.5em Roboto, sans-serif ;
 	color: #dcb ;
  width: 90%;
}

dl#photo dd {
  margin: 0 ;
  width: 90%;
}

dl#photo img{
  border: 1px solid #dcb ;
  width: 90%;
}
